

<p id="notice"><%= notice %></p>

<a class="btn btn-primary btn-lg active btn-block  " href="/auth/facebook"><img src="https://www.facebook.com/rsrc.php/v3/yO/r/lF-L3veiXx9.png">Continue with facebook</a>

