

<p id="notice"><%= notice %></p>
<p class="btn btn-primary btn-lg active btn-block  "><%= link_to "Sign_in_with_facebook", "/auth/facebook" ,class:"text_color"%></p>

<a class="btn btn-primary btn-lg active btn-block  " href="/auth/facebook"><img src="https://www.facebook.com/rsrc.php/v3/yO/r/lF-L3veiXx9.png"Continue with facebook></a>

