<nav class="navbar navbar-default" >    
  <div style="background-color: #D9E7FE" class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="color: white">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <h2 class="brand brand-name navbar-left">
           <a class="text1 " href="<%=root_path%>"><img class="img-responsive2 img-circle image_size"       
           src="http://is4.mzstatic.com/image/thumb/Purple122/v4/62/1b/81/621b81e9-a5bc-fa2f-d8cc-1a2f34e0cce3/source/1200x630bb.jpg" >NT@sK</a>
       </h2>
  

    </div>

    <ul class="nav navbar-nav navbar-right navbar-header navbar-brand">
      <% if current_user.present? %>
        <%= link_to "Sign Out", signout_path, class:"btn btn-primary"%>
      <% end %>
    </ul>
  </div>
</nav>