<nav class="navbar navbar-default" >    
  <div style="background-color: #232F3E" class="container-fluid ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="color: white">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <h2 class="brand brand-name navbar-left">
           <a class="text1" href="<%=root_path%>"><img class="img-responsive2"       
           src="/assets/DigitalPondlogo2.png">NT@sK</a>
       </h2>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    -- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>